# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\afari\OneDrive - Georgia Institute of Technology\D. Gatech (GT)\5. 2020 Spring Sussex\G5115 Computer Networks\Assignment_2\TFTP-UDP-Server IntelliJ 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
